{
  "extends": ["stylelint-config-standard", "stylelint-prettier/recommended"],
  "plugins": ["stylelint-order", "stylelint-prettier"],
  "rules": {
    "prettier/prettier": [true, { "singleQuote": true, "tabWidth": 2 }],
    "declaration-empty-line-before": null
  }
}
