@import 'variables';
@import 'dashboard';
@import 'header';
@import 'formula';
@import 'table';
@import 'toolbar';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;

}

html,
body {
  background-color: var(--background-color-base);
  font-size: var(--font-size-regular);
  color: var(--black);
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: var(--font-size-base);
}

.h1,
h1 {
  font-size: calc(var(--yr) * 8);
}

.h2,
h2 {
  font-size: calc(var(--yr) * 7);
}

.h3,
h3 {
  font-size: calc(var(--yr) * 7);
}

.h4,
h4 {
  font-size: calc(var(--yr) * 6);
}

.h5,
h5 {
  font-size: calc(var(--yr) * 5);
}

.h6,
h6 {
  font-size: calc(var(--yr) * 4);
}

.excel__sticky-header {
  position: sticky;
  top: 0;
}

.excel {
  height: 100vh;
  max-width: 100vw;
}
