@import 'mixins';

.excel__toolbar {
  @extend .base-container;
  @extend .container-padding;
  gap: calc(var(--yr) * 2);

  .button {
    @include button();
  }

  .separator {
    color: var(--gray);
    user-select: none;
  }
}
